<hr>
<p>Wybierz dania:</p>
<div class="shipping-item" *ngFor="let dish of dishes">
  <span>{{ dish.dishName }}</span>
  <span><p>{{ dish.grossPrice }} zł</p></span>
  <span><a class="btn btn-outline-warning" (click)="addToOrder(dish.dishId)">Dodaj</a></span>
</div>
<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="form" #f="ngForm" (submit)="sendOrder()" novalidate class="feedback-form">
        <div class="form-group">
          <label for="name">ID rezerwacji</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 name="name"
                 placeholder="name"
                 [(ngModel)]="model.reservationId"
                 required/>
        </div>
        <div class="form-group">
          <label for="description">ID pracownika</label>
          <input type="text"
                 id="description"
                 class="form-control"
                 name="description"
                 placeholder="description"
                 [(ngModel)]="model.employeeId"
                 required/>
        </div>
        <div class="form-group">
          <label for="description">ID klienta</label>
          <input type="text"
                 id="idprac"
                 class="form-control"
                 name="description"
                 placeholder="description"
                 [(ngModel)]="model.customerId"
                 required/>
        </div>
        <div class="form-group">
          <label for="price">Komentarz do rezerwacji</label>
          <input type="text"
                 id="price"
                 class="form-control"
                 name="price"
                 placeholder="price"
                 [(ngModel)]="model.additionalRemarks"
                 required/>
        </div>
        <button type="submit" class="btn btn-info pull-right">
          <i class="fa fa-envelope-o"></i>
          <span> Wyślij</span>
        </button>
      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>
<hr>
<p>Lista zamówień: </p>

<div class="shipping-item" *ngFor="let order of orders">
  <span><p>data:</p> {{ order.orderDate }}</span>
  <span><p>cena:</p>{{ order.bill }}</span>
  <span><p>opis: {{ order.additionalRemarks }}</p></span>
  <span><a class="btn btn-outline-warning" (click)="getOrderById(order.orderId)">Szczegóły</a></span>
</div>
<hr>
<p>Szczegóły:</p>
<p>pracownik: {{ order1.employeeId }}</p>
<p>status: {{ order1.status }}</p>
<p>uwagi: {{ order1.additionalRemarks }}</p>
<hr>
