<hr>
<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="form" #f="ngForm" (submit)="sendReservation()" novalidate class="feedback-form">
        <div class="form-group">
          <label for="name">Data</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 name="name"
                 placeholder="name"
                 [(ngModel)]="model.dateReservation"
                 required/>
        </div>
        <div class="form-group">
          <label for="description">Stolik</label>
          <input type="text"
                 id="description"
                 class="form-control"
                 name="description"
                 placeholder="description"
                 [(ngModel)]="model.tableId"
                 required/>
        </div>
        <div class="form-group">
          <label for="price">Komentarz do rezerwacji</label>
          <input type="text"
                 id="price"
                 class="form-control"
                 name="price"
                 placeholder="price"
                 [(ngModel)]="model.comments"
                 required/>
        </div>
        <button type="submit" class="btn btn-info pull-right">
          <i class="fa fa-envelope-o"></i>
          <span> Wyślij</span>
        </button>
      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>
<hr>
<p>Lista zamówień dla wszystkich użytkowników:</p>
<div class="shipping-item" *ngFor="let reservation of reservations">
  <span>ID: {{ reservation.reservationId }}</span>
  <span>data: {{ reservation.dateReservation }}</span>
  <span><p>komentarz: {{ reservation.comments }}</p></span>
  <span><p>stolik: {{ reservation.tableId }}</p></span>
  <span><a class="btn btn-outline-warning" (click)="deleteReservation(reservation.reservationId)">Usuń</a></span>

</div>
<hr>
