<p>Lista restauracji: </p>

<div class="shipping-item" *ngFor="let restaurant of restaurants">
  <span>ID: {{ restaurant.restaurantId }}</span>
  <span>miasto: {{ restaurant.city }}</span>
  <span><p>ul. {{ restaurant.street }}</p></span>
  <span><a class="btn btn-outline-warning" (click)="getOpinionById(restaurant.restaurantId)">Opinie</a></span>
  <span><a class="btn btn-outline-warning" (click)="getTablesById(restaurant.restaurantId)">Stoliki</a></span>
</div>
<hr>
<div class="shipping-item" *ngFor="let opinion of opinions">
  <span>użykownik: {{ opinion.userName }}</span>
  <span>{{ opinion.textOpinion }}</span>
</div>
<hr>
<div class="shipping-item" *ngFor="let table of tables">
  <span>{{ table.tableId }}</span>
  <span>liczba miejsc: {{ table.seatsNumber }}</span>
</div>
<hr>
