<p>dodaj opinie do restauracji</p>

<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="form" #f="ngForm" (submit)="sendOpinion()" novalidate class="feedback-form">
        <div class="form-group">
          <label>Wybierz restauracje</label>
          <input type="text"
                 id="coo"
                 class="form-control"
                 name="cookTime"
                 placeholder=""
                 [(ngModel)]="resid"
                 required/>
        </div>
        <div class="form-group">
          <label>Napisz opinie</label>
          <input type="text"
                 id="cookTime"
                 class="form-control"
                 name="cookTime"
                 placeholder=""
                 [(ngModel)]="model.textOpinion"
                 required/>
        </div>
        <button type="submit" class="btn btn-info pull-right">
          <i class="fa fa-envelope-o"></i>
          <span> Wyślij</span>
        </button>
      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>

<hr>
<p>Opinie do restauracji 1: </p>

<div class="shipping-item" *ngFor="let opinion of opinions">
  <span><p>klient: {{ opinion.userName }}</p></span>
  <span><p>opinia: {{ opinion.textOpinion }}</p></span>
  <span>data: {{ opinion.opinionDate }}</span>
</div>

<p>Opinie do restauracji 2: </p>

<div class="shipping-item" *ngFor="let opinion2 of opinions2">
  <span><p>klient: {{ opinion2.userName }}</p></span>
  <span><p>opinia: {{ opinion2.textOpinion }}</p></span>
  <span>data: {{ opinion2.opinionDate }}</span>
</div>

<p>Opinie do restauracji 3: </p>

<div class="shipping-item" *ngFor="let opinion of opinions3">
  <span><p>klient: {{ opinion.userName }}</p></span>
  <span><p>opinia: {{ opinion.textOpinion }}</p></span>
  <span>data: {{ opinion.opinionDate }}</span>
</div>
