<!--
<nav class="navbar navbar-expand-sm" style="background-color: #e6ebff;">
  <a class="navbar-brand" href="#" style="color: black"><img src="./assets/nav.png" width="30" height="30" alt="">  Buon Appetito Restaurant</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/menu">Menu <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/restaurant-list">Restauracje <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/opinions">Opinie <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/logged">Tylko dla vipów <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/signin">Zaloguj się</button>
    </form>
  </div>
</nav>
-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow fixed-top" style="background-color: #f4f4f4;">
<a class="navbar-brand mr-md-auto" href="#" style="color: black"><img src="./assets/nav.png" width="30" height="30" alt="">  Buon Appetito Restaurant</a>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" *ngIf="apiService.loggedIn()" routerLink="/reservation">Rezerwacja</a>
    <a class="p-2 text-dark" *ngIf="apiService.loggedIn()" routerLink="/order">Zamówienia</a>
    <a class="p-2 text-dark" routerLink="/menu">Menu</a>
    <a class="p-2 text-dark" routerLink="/restaurant-list">Restauracje</a>
    <a class="p-2 text-dark" routerLink="/opinions">Opinie</a>
    <a class="p-2 text-dark" routerLink="/logged">Tylko dla zalogowanych</a>
    <a class="p-2 text-dark" routerLink="/admin">Admin Panel</a>
  </nav>
  <a class="btn btn-outline-warning" *ngIf="!apiService.loggedIn()" routerLink="/signin">Zaloguj się</a>
  <a class="btn btn-outline-warning" *ngIf="apiService.loggedIn()" routerLink="/signin" (click)="apiService.logoutUser()">Wyloguj się</a>
</div>
