<p>Lista pracowników </p>

<div class="shipping-item" *ngFor="let employee of employees">
  <span>{{ employee.name }}</span>
  <span>{{ employee.surname }}</span>
  <span><p>{{ employee.salary }} zł.</p></span>
  <span><a class="btn btn-outline-warning" (click)="deleteEmployee(employee.employeeId)">Zwolnij!</a></span>
</div>
<p>Dodaj pracownika </p>
<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="form" #f="ngForm" (submit)="createEmployee()" novalidate class="feedback-form">
        <div class="form-group">
          <label for="city">Imie</label>
          <input type="text"
                 id="cifty"
                 class="form-control"
                 name="city"
                 placeholder="city"
                 [(ngModel)]="modelEmp.name"
                 required/>
        </div>
        <div class="form-group">
          <label for="street">Nazwisko</label>
          <input type="text"
                 id="streset"
                 class="form-control"
                 name="street"
                 placeholder="street"
                 [(ngModel)]="modelEmp.surname"
                 required/>
        </div>
        <div class="form-group">
          <label for="street">Pensja</label>
          <input type="text"
                 id="streget"
                 class="form-control"
                 name="street"
                 placeholder="street"
                 [(ngModel)]="modelEmp.salary"
                 required/>
        </div>
        <div class="form-group">
          <label for="street">ID osoby</label>
          <input type="text"
                 id="streasget"
                 class="form-control"
                 name="street"
                 placeholder="street"
                 [(ngModel)]="empid"
                 required/>
        </div>
        <button type="submit" class="btn btn-info pull-right">
          <i class="fa fa-envelope-o"></i>
          <span> Wyślij</span>
        </button>
      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>

<hr>
<p>Lista użytkowników</p>

<div class="shipping-item" *ngFor="let user of users">
  <span>{{ user.id }}</span>
  <span><a routerLink="/admin" (click)="userDetails()">{{ user.username }}</a></span>
  <span>{{ user.email }}</span>
  <span><p>{{ user.phone }}</p></span>
  <span><a class="btn btn-outline-warning" (click)="userEdit(user.id)" *ngIf="user.id!=1">Edytuj</a></span>
  <span><a class="btn btn-outline-warning" (click)="deleteUser(user.id)" *ngIf="user.id!=1">Usuń</a></span>
</div>
<hr>
<p>Edytuj użytkownika</p>

<hr>
<p>Dodaj Restaurację</p>

<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="form" #f="ngForm" (submit)="addRestaurant()" novalidate class="feedback-form">
        <div class="form-group">
          <label for="city">Miasto</label>
          <input type="text"
                 id="city"
                 class="form-control"
                 name="city"
                 placeholder="city"
                 [(ngModel)]="modelRes.city"
                 required/>
        </div>
        <div class="form-group">
          <label for="street">Ulica</label>
          <input type="text"
                 id="street"
                 class="form-control"
                 name="street"
                 placeholder="street"
                 [(ngModel)]="modelRes.street"
                 required/>
        </div>
        <button type="submit" class="btn btn-info pull-right">
          <i class="fa fa-envelope-o"></i>
          <span> Wyślij</span>
        </button>
      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>

<hr>
<p>Edytuj Restaurację</p>

<hr>
<hr>
<p>Dodaj stolik</p>

<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="form" #f="ngForm" (submit)="sendTable()" novalidate class="feedback-form">
        <div class="form-group">
          <label for="resid">ID restauracji</label>
          <input type="text"
                 id="resid"
                 class="form-control"
                 name="id"
                 placeholder="id"
                 [(ngModel)]="modelTable.restaurantId"
          required/>
 </div>
 <div class="form-group">
   <label for="resSeats">Liczba miejsc</label>
   <input type="text"
          id="resSeats"
          class="form-control"
          name="seats"
          placeholder="seats"
          [(ngModel)]="modelTable.seatsNumber"
   required/>
</div>
<button type="submit" class="btn btn-info pull-right">
<i class="fa fa-envelope-o"></i>
<span> Wyślij</span>
</button>
</form>
</div>
<div class="offset-3"></div>
</div>
</div>

<hr>
<p>Lista stolików: </p>
<div class="shipping-item" *ngFor="let table of tables">
  <span>{{ table.tableId }}</span>
  <span>{{ table.restaurant.city }}</span>
  <span><p>{{ table.seatsNumber }} </p></span>
</div>
<hr>
