<p>Edytuj danie:</p>
<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="form" #f="ngForm" (submit)="updateDish()" novalidate class="feedback-form">
        <div class="form-group">
          <label for="id">ID</label>
          <input type="text"
                 id="id"
                 class="form-control"
                 name="id"
                 placeholder="id"
            [(ngModel)]="dishId"
                 required/>
        </div>
        <div class="form-group">
          <label for="name">Nazwa</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 name="name"
                 placeholder="name"
            [(ngModel)]="upmodel.dishName"
                 required/>
        </div>
        <div class="form-group">
          <label for="description">Opis</label>
          <input type="text"
                 id="description"
                 class="form-control"
                 name="description"
                 placeholder="description"
            [(ngModel)]="upmodel.dishDescription"
                 required/>
        </div>
        <div class="form-group">
          <label for="price">Cena</label>
          <input type="text"
                 id="price"
                 class="form-control"
                 name="price"
                 placeholder="price"
            [(ngModel)]="upmodel.grossPrice"
                 required/>
        </div>
        <div class="form-group">
          <label for="price">Czas gotowania</label>
          <input type="text"
                 id="cookTime"
                 class="form-control"
                 name="cookTime"
                 placeholder="cookTime"
            [(ngModel)]="upmodel.cookingTime"
                 required/>
        </div>
        <button type="submit" class="btn btn-info pull-right">
          <i class="fa fa-envelope-o"></i>
          <span> Wyślij</span>
        </button>
      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>
<hr>

<p>Lista dań: </p>

<div class="shipping-item" *ngFor="let dish of dishes">
  <span>{{ dish.dishName }}</span>
  <span><p>{{ dish.grossPrice }} zł</p></span>
</div>


