<div id = "images"><img src="./assets/slider2.jpg" class="img-fluid position-relative" alt="Responsive image"></div>
<br/><br/><br/><br/><br/><br/>
<div class="center"><div style="text-align: center">
  <h3 style="text-align: center; color: whitesmoke; font-size: 40px">Mamy dobre jedzonko!</h3>
  <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" routerLink="/register">Zarejestruj się!</button></div>
</div>
<br/><br/><br/><br/>

<h2>Kilka słów o nas</h2>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Lider w branży restauratorskiej! <span class="text-muted">Serio.</span></h2>
    <p class="lead">Młody i dynamiczny zespól kucharzy zapewni Wam najlepszą jakość kuchni</p>
  </div>
  <div class="col-md-5">
    <img src="./assets/main1.jpg">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Niespotykane nigdzie wygody. <span class="text-muted">Sprawdź sam!</span></h2>
    <p class="lead">Zapewniamy naszym gościom darmową wodę z kranu, mamy też czyste toalety i inne </p>
  </div>
  <div class="col-md-5 order-md-1">
    <img src="./assets/main2.jpg">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Różnorodne menu</h2>
    <p class="lead">Nawet wasza babka prababka nie zna tylu przepisów co my.</p>
  </div>
  <div class="col-md-5">
    <img src="./assets/main3.jpg">
  </div>
</div>

<hr class="featurette-divider">

<footer class="container">
  <p class="float-right"><a href="#">Powrót na góre</a></p>
  <p>&copy; 2019 v1.1 &middot;</p>
</footer>
