<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="form" #f="ngForm" (submit)="sendUser()" novalidate class="feedback-form">
        <div class="form-group">
          <label for="name">Nazwa użytkownika: </label>
          <input type="text"
                 id="name"
                 class="form-control"
                 name="name"
                 placeholder="name"
                 [(ngModel)]="model.username"
                 required/>
        </div>
        <div class="form-group">
          <label for="password">Hasło:</label>
          <input type="text"
                 id="password"
                 class="form-control"
                 name="password"
                 placeholder="password"
                 [(ngModel)]="model.password"
                 required/>
        </div>
        <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="text"
                 id="email"
                 class="form-control"
                 name="email"
                 placeholder="email"
                 [(ngModel)]="model.email"
                 required/>
        </div>
        <div class="form-group">
          <label for="phone">Numer telefonu:</label>
          <input type="text"
                 id="phone"
                 class="form-control"
                 name="phone"
                 placeholder="phone"
                 [(ngModel)]="model.phone"
                 required/>
        </div>
        <button type="submit" class="btn btn-info pull-right">
          <i class="fa fa-envelope-o"></i>
          <span> Wyślij</span>
        </button>
      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>
